<!--PAGE CONTENT-->
<app-content>
  <!--PAGE INFORMATION-->
  <div class="card-title">{{menuItemView.title}}</div>
  <div class="card-subtitle">{{menuItemView.description}}</div>
  <div class="card-icon">{{menuItemView.icon}}</div>
  <!--PAGE INFORMATION-->

  <!--FORM CONTENT-->
  <div class="content">
    <form [formGroup]="debtForm" (submit)="save()">
      <!--USER SELECT INPUT-->
      <div class="field">
        <label for="user" class="label">User*</label>
        <div class="control">
          <ng-select id="user" [ngClass]="{'is-danger': getUserHasErrors}" bindLabel="username"
                     bindValue="id" [(ngModel)]="debt.userId" formControlName="userId" [items]="users$ | async"
          >
          </ng-select>
          <p *ngIf="getUserHasErrors" class="help is-danger">User is required</p>
        </div>
      </div>
      <!--USER SELECT INPUT-->

      <!--REASON INPUT-->
      <div class="field">
        <label for="reason" class="label">Reason*</label>
        <div class="control">
          <input id="reason" class="input" type="text" [(ngModel)]="debt.reason" formControlName="reason"
                 [ngClass]="{'is-danger': getReasonHasErrors}" placeholder="Ex.: Buy Playstation 5">
          <p *ngIf="getReasonHasErrors" class="help is-danger">Reason is required</p>
        </div>
      </div>
      <!--REASON INPUT-->

      <!--PRICE INPUT-->
      <div class="field">
        <label for="price" class="label">Price*</label>
        <div class="control">
          <input currencyMask id="price" class="input" placeholder="Ex.: $ 299.90"
                 [(ngModel)]="debt.price" formControlName="price"
                 [options]="{prefix: '$ ', thousands: ',', decimal: '.', align: 'left'}"
                 [ngClass]="{'is-danger': getPriceHasErrors}">
          <p *ngIf="getPriceHasErrors" class="help is-danger">Price is required</p>
        </div>
      </div>
      <!--PRICE INPUT-->

      <!--DATE INPUT-->
      <div class="field">
        <label for="date" class="label">Date*</label>
        <div class="control">
          <input id="date" class="input" type="date" [(ngModel)]="debt.debtDate" formControlName="debtDate"
                 [ngClass]="{'is-danger': getDebtDateHasErrors}">
          <p *ngIf="getDebtDateHasErrors" class="help is-danger">Date is required</p>
        </div>
      </div>
      <!--DATE INPUT-->

      <!--SUBMIT BUTTON-->
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
      </div>
      <!--SUBMIT BUTTON-->
    </form>
  </div>
  <!--FORM CONTENT-->
</app-content>
<!--PAGE CONTENT-->
