<app-content>
  <!--PAGE INFORMATION-->
  <div class="card-title">{{menuItemView.title}}</div>
  <div class="card-subtitle">{{menuItemView.description}}</div>
  <!--PAGE INFORMATION-->

  <div class="content">
    <!--USER SELECT INPUT-->
    <div class="field">
      <label for="user" class="label">Select User</label>
      <div class="control">
        <ng-select id="user" bindLabel="username" (ngModelChange)="getUserDebts($event)"
                   [(ngModel)]="userSelected" [items]="users$ | async"
        >
        </ng-select>
      </div>
    </div>
    <!--USER SELECT INPUT-->

    <!--DEBT TABLE-->
    <table class="table is-striped is-fullwidth">
      <thead>
      <!--TABLE LABELS-->
      <tr>
        <th *ngFor="let key of keys">{{key}}</th>
        <th>Actions</th>
      </tr>
      </thead>
      <!--TABLE LABELS-->

      <!--TABLE ROWS OF CONTENT-->
      <tbody>
      <tr *ngFor="let debt of debts">
        <th>{{userSelected.name}}</th>
        <th>{{debt.reason}}</th>
        <th currencyMask [options]="{prefix: '$ ', thousands: ',', decimal: '.', align: 'left'}">{{debt.price}}</th>
        <th>{{debt.debtDate | date}}</th>
        <th style="text-align: center;">
          <div class="field is-grouped">
            <div class="control">
              <button (click)="editDebt(debt)" class="button is-small is-link">Edit</button>
              <button (click)="removeDebt(debt._id)" class="button is-small is-danger">Remove</button>
            </div>
          </div>
        </th>
      </tr>
      </tbody>
      <!--TABLE ROWS OF CONTENT-->
    </table>
    <!--DEBT TABLE-->
  </div>
</app-content>
