<!--TOP BAR-->
<section class="hero is-primary">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-12">
        <div class="container content">
          <i class="is-large fas fa-code"></i>
          <h1 class="title">Debt Register</h1>
          <h3 class="subtitle">
            Helping people to control the debts.
          </h3>
          <a href="https://github.com/douglas-martins/debt-register-web-client" target="_blank" class="button is-primary is-large">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
            <span>View Source</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--TOP BAR-->
